# =====================
# Logs & Event Data
# =====================
logs/
*.log
*.evtx
*.json

# =====================
# Python
# =====================
__pycache__/
*.pyc
venv/
.env

# =====================
# PowerShell
# =====================
*.ps1.xml
*.psm1.cache

# =====================
# OS Files
# =====================
Thumbs.db
.DS_Store

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/
#parserdata
parser/output/
detector/alerts/